gradio
openai
python-dotenv
pyyaml
aiohttp
duckduckgo-search
openai-swarm
groq
firecrawl
anthropic
google
langchain
langsmith
langchain-community
langchain-openai
langchain-groq
langgraph
streamlit
streamlit-chat
flask
flask-cors
flask-restful
flask-socketio
pandas
numpy
scikit-learn
nltk
beautifulsoup4
requests
urllib3
tqdm
pydantic
